.main-nav
	.main-nav-container
		.main-nav-container__button
			button.button-closed
				span.button-closed-line
		.main-nav-container__logo
			a(href=logo.link)
				img.logo(src=require('./../../assets/logo.png'))
	.container
		ul.main-nav-menu
			each val in links
				li.main-nav-menu__item
					//button= val.label
					if val.links != undefined
						div.dropdown-button
							a.dropdown-btn(href='#')
								button= val.label
							span.dropdown-arrow
						div.dropdown-menu
							each item in val.links
								a(href=item.href)
									button= item.label
					else
						a(href=val.href)
							button= val.label	
		.article
	

