picture
    source(media="(max-width: 552px)" srcset=images.small.url)
    source(media="(max-width: 1062px)" srcset=images.medium.url)
    img(class="hero-content__image" src=images.medium.url width="1500" height="400" alt="Hero")
    span.hero-content__cta
        div.hero-content__cta-description #{description}
        a(href=cta.url)
            button(class="hero-content__cta-button") Learn more
